pandas==2.2.3
torch
transformers
selenium
python-dotenv==1.0.1
pyarrow
networkx
pydot
datasets
matplotlib==3.9.0
graphviz
tenacity==8.2.2
txtai
h5py
wandb
einops
litellm
mysql-connector-python
PyPDF2
spacy
llama_index==0.14.8
openai
dotenv
huggingface-hub
llama-index-embeddings-huggingface

loguru
motor>=3.3.0
pymongo
streamlit 
python-dotenv 
streamlit-option-menu

httpx==0.28.1
Pillow==9.5.0
playwright==1.45.0
typer>=0.12.3
opencv-python
aiomysql==0.2.0
redis~=4.6.0
pydantic==2.5.2
aiofiles~=23.2.1
fastapi==0.110.2
uvicorn==0.29.0
jieba==0.42.1
wordcloud==1.9.3
parsel==1.9.1
pyexecjs==1.5.1
aiosqlite==0.21.0
pyhumps==3.8.0
cryptography>=45.0.7
alembic>=1.16.5
asyncmy>=0.2.10
sqlalchemy>=2.0.43
xhshow>=0.1.3
llama-index-llms-openai-like==0.5.3