
lm_type: &lm_type "api"
lm_name: &lm_name "deepseek/deepseek-chat"
inference_config: &infer
  device: "cuda"
generation_config: &generation_config
  max_new_tokens: 8192
  temperature: 0.2
  top_p: 0.95

save_folder: "EXPERIMENT/uTEST/StepBuilder"

graph_config:
  recursion_limit: 150

agents:
  SkeletonReconstructor:
    lm_type: *lm_type
    lm_name: *lm_name
    inference_config: *infer
    generation_config: *generation_config

  SkeletonChecker:
    lm_type: *lm_type
    lm_name: *lm_name
    inference_config: *infer
    generation_config: *generation_config

  ParticipantReconstructor:
    lm_type: *lm_type
    lm_name: *lm_name
    inference_config: *infer
    generation_config: *generation_config

  TransactionReconstructor:
    lm_type: *lm_type
    lm_name: *lm_name
    inference_config: *infer
    generation_config: *generation_config

  EpisodeReconstructor:
    lm_type: *lm_type
    lm_name: *lm_name
    inference_config: *infer
    generation_config: *generation_config

  StageDescriptionReconstructor:
    lm_type: *lm_type
    lm_name: *lm_name
    inference_config: *infer
    generation_config: *generation_config

  EventDescriptionReconstructor:
    lm_type: *lm_type
    lm_name: *lm_name
    inference_config: *infer
    generation_config: *generation_config
